{extends file="email-layout.tpl"}

{* Do not provide a "Open in browser" link  *}
{block name="browser"}{/block}
{* No pre-header *}
{block name="pre-header"}{/block}

{* Subject  *}
{block name="email-subject"}{intl d='paypal.mail.default' l="Payment of your order %ref" ref={$order_ref}}{/block}

{* Title  *}
{block name="email-title"}{intl d='paypal.mail.default' l="The payment of your order %ref is confirmed" ref={$order_ref}}{/block}

{* Content  *}
{block name="email-content"}
    <p>
        <a href="{url path="/account"}">
            {intl l="View this order in your account at %shop_name" shop_name={config key="store_name"}}
        </a>
    </p>
    <p>{intl d='paypal.email.default' l='Thank you again for your purchase.'}</p>
    <p>{intl d='paypal.email.default' l='The %store_name team.' store_name={config key="store_name"}}</p>
{/block}
