.Paypal {
}

.Paypal-container {
    margin-top: 8em;
}

.Paypal-headers h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
}

.Paypal-headers p {
    margin-top: 1em;
}

.Paypal-actions {
    background-color: #F5F5F5;
    padding: 3em 3em 2em;
    border-radius: 9px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}